.form-container {
    width: 400px;
    margin: auto;

    form {
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;

        input:focus {
            outline: none;
        }

        .gender-radio>input {
            margin-bottom: 20px;
        }
    }
}